Flask==2.3.2
Flask-Mail==0.9.1
Flask_SQLAlchemy==3.1.1
mysql-connector-python==8.0.33
PyMySQL==1.0.2
pycryptodome==3.17
python-dotenv==1.1.0
twilio==8.3.0
pytest==7.3.1
locust==2.16.0
coverage==7.2.5
