<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" 
           path="*" 
           verb="*" 
           modules="FastCgiModule" 
           scriptProcessor="C:\xampp\htdocs\flaskapp2\venv\Scripts\python.exe|C:\xampp\htdocs\flaskapp2\venv\Lib\site-packages\wfastcgi.py"
           resourceType="Unspecified" 
           requireAccess="Script" />
    </handlers>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
  
  <appSettings>
    <!-- Point to your WSGI application -->
    <add key="WSGI_HANDLER" value="wsgi.application" />
    <!-- Path to your project directory -->
    <add key="PYTHONPATH" value="C:\xampp\htdocs\flaskapp2"/>
    <!-- Log file for debugging -->
    <add key="WSGI_LOG" value="C:\xampp\htdocs\flaskapp2\wfastcgi.log"/>
    <!-- Add these additional recommended settings -->
    <add key="WSGI_RESTART_FILE_REGEX" value="" />
    <add key="PYTHONIOENCODING" value="utf-8" />
    <add key="VIRTUAL_ENV" value="C:\xampp\htdocs\flaskapp2\venv" />
  </appSettings>
</configuration>